{{ partial "header.html" . }}

<div class="container-index">

    {{ partial "nav.html" . }} 

     {{ range .Site.Params.sections }}
     <div class="column" id="{{ .id }}">
        <div class="headline-container">
            <img src="{{ .icon }}" alt="{{ .title }} icon" class="headline-icon">
            <h1>{{ .title }}</h1>
            <p class="description">{{ .description }}</p>
        </div>

        {{ $section := .folder }}
        {{ $pages := where $.Site.RegularPages "Section" $section }}
        
        <!-- Display featured articles first -->
        {{ range where $pages "Params.featured" true }}
            <a href="{{ .RelPermalink }}" class="rectangle">
                <h3>{{ .Title }}</h3>
                <p>{{ .Description }}</p>
            </a>
        {{ end }}
        
        <!-- Display non-featured articles -->
        {{ range where $pages "Params.featured" "!=" true }}
            <a href="{{ .RelPermalink }}" class="small-rectangle">
                <h4>{{ .Title }}</h4>
                <!-- <p>{{ .Description }}</p> -->
            </a>
        {{ end }}

     </div>
     {{ end }}

</div>