{{ partial "header.html" . }}

<div class="container-index">

    {{ partial "nav.html" . }} 

        <!--<div class="column" id="column2">
            <div class="headline-container">

                <h1>Ed-Tech</h1>
                <p class="description">How to build a better future of education where playing and learning are the same process?</p>
                <img src="/images/rage.jpeg" alt="ed-tech icon" class="headline-icon">
            </div>

            <a href="/building-games/" class="small-rectangle">
                <h4>Building games to train problem-solvers</h4>
                <p>How to use games to teach kids 21st century skills</p>
            </a>

        </div>-->

        <div class="column" id="column4">
            
            <div class="headline-container">
                <h1>Startups</h1>
                <img src="/images/startups.jpeg" alt="startups icon" class="headline-icon">
                <p class="description">My notes on building useful things people want</p>
            </div>

            <a href="/idea-to-customers/" class="rectangle">
                <h3>How to test product ideas</h3>
                <p>Case study: How I went from an idea to paying customers in 4 weeks</p>
           </a>
           
           <a href="/make-something/" class="small-rectangle">
                <h4>Make something you want to exist</h4>
                <p>How to find ideas and start learning by doing.</p>
           </a>
           
           <a href="/failure/" class="small-rectangle">
                <h4>The fear of being a failure</h4>
                <p>Story about the fear of failing those who believed in me.</p>
           </a>
           
           <a href="/tweet-prototype/" class="small-rectangle">
                <h4>Test your idea in 280 characters</h4>
                <p>Avoid wasting your time making things nobody wants.</p>
           </a>
           
           <a href="/3-levels/" class="small-rectangle">
                <h4>3 levels of becoming an innovator</h4>
                <p>A summary of essential mindsets, strategies, and tools.</p>
           </a>
           
           <a href="/innovation-design/" class="small-rectangle">
                <h4>How to become an innovation designer</h4>
                <p>Solve the right problems in the right way.</p>
           </a>
        </div>

        <div class="column" id="column3">

            <div class="headline-container">
                <h1>Life Design</h1>
                <img src="/images/batmaaan.jpeg" alt="life-design icon" class="headline-icon">
                <p class="description">How to design and live a good life?</p>
            </div>

            <a href="/meaningful-work/" class="rectangle">
                <h3>Meaningful work guide</h3>
                <p>10 steps designed to help you find work that fits your needs and personality</p>
            </a>

            <a href="/fsf/" class="small-rectangle">
                <h4>Full-Stack Freelancer</h4>
                <p>The optimal way of working for generalists.</p>
            </a>
           
           <a href="/max-useful/" class="small-rectangle">
                <h4>How to be as useful as you can</h4>
                <p>Make a positive impact without losing your mind.</p>
           </a>
           
            <a href="/prime/" class="small-rectangle">
                <h4>Prime your mind for better decisions</h4>
                <p>How to be your best self and make big decisions.</p>
            </a>

           <a href="/build/" class="small-rectangle">
                <h4>Build something that doesn't work</h4>
                <p>A story about how I failed my way into success.</p>
           </a>
           
           <a href="/no-meetings/" class="small-rectangle">
                <h4>No meetings before noon</h4>
                <p>The foundation of my daily productivity.</p>
           </a>
           
           <a href="/mp/" class="small-rectangle">
                <h4>Morning pages: The best journaling method</h4>
                <p>An essential thing I do every day to stay sane.</p>
           </a>
           
           <a href="/system-that-works/" class="small-rectangle">
                <h4>Find a productivity system that works for you</h4>
                <p>How to focus on what really matters</p>
           </a>
           
           <a href="/why-dont/" class="small-rectangle">
                <h4>Why don't I do what I say I want</h4>
                <p>An exploration into words vs. actions.</p>
           </a>
           
           <a href="/overcompensation/" class="small-rectangle">
                <h4>Use overcompensation to find your balance</h4>
                <p>It's fine if you go extreme for a while.</p>
           </a>
           
           <a href="/money-making-potential/" class="small-rectangle">
                <h4>Leverage your money-making potential</h4>
                <p>How to live without worrying about money.</p>
           </a>
           
           <a href="/money-can-buy/" class="small-rectangle">
                <h4>The best thing money can buy</h4>
                <p>What is it for you?</p>
           </a>
           
           <a href="/money-motivations/" class="small-rectangle">
                <h4>What's your money motivation?</h4>
                <p>It's fine if you go extreme for a while.</p>
           </a>

           <a href="/fund-yourself/" class="small-rectangle">
                <h4>Fund yourself</h4>
                <p>How to use money on what matters the most.</p>
            </a>
       
            <a href="/money-day/" class="small-rectangle">
                    <h4>What if you made money 1 day a week?</h4>
                    <p>A different kind of life-style.</p>
            </a>
            
            <a href="/bad-days/" class="small-rectangle">
                    <h4>How to turn bad days around</h4>
                    <p>Design your environment for success.</p>
            </a>
            
            <a href="/feelgood/" class="small-rectangle">
                    <h4>Feelgood journal</h4>
                    <p>A simple method to train your brain optimism.</p>
            </a>
            
            <a href="/finding-yourself/" class="small-rectangle">
                    <h4>Finding yourself as you go</h4>
                    <p>It's fine to start with no idea where to go.</p>
            </a>
            
            <a href="/creative-routine/" class="small-rectangle">
                    <h4>Creative routines: How to do your best work</h4>
                    <p>How people get their creative work done?</p>
            </a>
            
            <a href="/write-to-learn/" class="small-rectangle">
                    <h4>Write to learn better</h4>
                    <p>How to use writing to improve at any skill.</p>
            </a>
            
            <a href="/open-garage/" class="small-rectangle">
                    <h4>Work with your garage door open</h4>
                    <p>How to overcome the fear of being judged.</p>
            </a>
            
            <a href="/dd/" class="small-rectangle">
                    <h4>Daily Design: Template for winning your day</h4>
                    <p>A mindful way to plan your day in five minutes.</p>
            </a>
            
            <a href="/trained-optimism/" class="small-rectangle">
                    <h4>Train your brain to be optimistic</h4>
                    <p>How to stop having negative reactions to everything.</p>
            </a>
            
            <a href="/expert/" class="small-rectangle">
                    <h4>Become an expert on yourself</h4>
                    <p>Practice self-awareness and get your life under control.</p>
            </a>
            
            <a href="/lost/" class="small-rectangle">
                    <h4>The power of being lost</h4>
                    <p>How to keep getting lost and find yourself anyway.</p>
            </a>
            
            <a href="/design-your-lives/" class="small-rectangle">
                    <h4>Design your lives</h4>
                    <p>Create three different versions of the next five years.</p>
            </a>
            
            <a href="/find-meaning/" class="small-rectangle">
                    <h4>Find meaning</h4>
                    <p>How to create purpose in your life and work?</p>
            </a>
            
            <a href="/follow-joy/" class="small-rectangle">
                    <h4>Follow joy</h4>
                    <p>It's the best navigation system.</p>
            </a>
            
            <a href="/start-where-you-are/" class="small-rectangle">
                    <h4>Start where you are</h4>
                    <p>You don't need to be anywhere else.</p>
            </a>
            
            <a href="/miw/" class="small-rectangle">
                    <h4>Do the most important work first</h4>
                    <p>Don't fall into false productivity.</p>
            </a>
            
            <a href="/get-unstuck/" class="small-rectangle">
                    <h4>How to get unstuck</h4>
                    <p>Overcome your inner critic.</p>
            </a>
            
            <a href="/write-public-reflections/" class="small-rectangle">
                    <h4>Write public reflections</h4>
                    <p>It's the best way to start writing and improve.</p>
            </a>
            
            <a href="/4-year-reflection/" class="small-rectangle">
                    <h4>4 ways to do a year reflection</h4>
                    <p>Choose the one that works best for you.</p>
            </a>
            
            <a href="/bad-to-good/" class="small-rectangle">
                    <h4>Be bad to get good</h4>
                    <p>Be willing to be bad at first so you can improve.</p>
            </a>
            
            <a href="/rational-artist/" class="small-rectangle">
                    <h4>Rational Artist: The ideal way to work</h4>
                    <p>Do what you enjoy while making enough money.</p>
            </a>
            
            <a href="/too-responsible/" class="small-rectangle">
                    <h4>Be irresponsible</h4>
                    <p>Make your life easier.</p>
            </a>
            
            <a href="/sdt-triangle/" class="small-rectangle">
                    <h4>Self-determination triangle</h4>
                    <p>What do you need to have a good life?</p>
            </a>
            
            <a href="/writing-loop/" class="small-rectangle">
                    <h4>I will try writing 100 articles in 100 days</h4>
                    <p>(Edit: I failed)</p>
            </a>
            
            <a href="/speed-drafting/" class="small-rectangle">
                    <h4>How to write an article in 25 minutes</h4>
                    <p>No backspace. Ignore grammar. Write faster.</p>
            </a>
            
            <a href="/imagine/" class="small-rectangle">
                    <h4>Imagine change is possible</h4>
                    <p>Start creating the life you really want.</p>
            </a>
            
            <a href="/school/" class="small-rectangle">
                    <h4>Go to school but learn yourself</h4>
                    <p>Schools fail at the one thing they should do really well.</p>
            </a>
            
            <a href="/85rule/" class="small-rectangle">
                    <h4>The 85 % rule: Be the best by trying less</h4>
                    <p>Trying less is sometimes the only way to get better.</p>
            </a>
            
            <a href="/quantity/" class="small-rectangle">
                    <h4>Quantity is the best way to learn by doing</h4>
                    <p>Try this counter-intuitive approach to learning.</p>
            </a>
            
            <a href="/quit/" class="small-rectangle">
                    <h4>How to find the right time to quit</h4>
                    <p>Improve your decision-making based on your past.</p>
            </a>
            
            <a href="/journaling-rules/" class="small-rectangle">
                    <h4>7 rules for journaling</h4>
                    <p>My essential tips for writing a journal.</p>
            </a>
            
            <a href="/make-mentors/" class="small-rectangle">
                    <h4>Make your own mentors</h4>
                    <p>It doesn't matter whether they are too busy.</p>
            </a>
            
            <a href="/disagree/" class="small-rectangle">
                    <h4>I disagree with everything I write</h4>
                    <p>I always find a way to disagree with myself.</p>
            </a>
           
           

        </div>

        <div class="column" id="column5">
            <div class="headline-container">
                <h1>Reflections</h1>
                <img src="/images/reflections.jpeg" alt="reflections icon" class="headline-icon">
                <p class="description">My personal reflections on work and life</p>
            </div>
            <a href="/2023/" class="rectangle">
                <h3>2023: Playful beginnings</h3>
                <p>A brief look at my life lessons from 2023.</p>
            </a>
            <a href="/2023-q1-q2/" class="small-rectangle">
                <h4>What the work happened: Q1, Q2 2023</h4>
                <p>A quaterly personal reflection on my work-life.</p>
            </a>
            <a href="/2022/" class="small-rectangle">
                <h4>2022: Unanswered questions</h4>
                <p>A yearly reflection on my work and life in 2022.</p>
            </a>
            <a href="/2022-q3/" class="small-rectangle">
                <h4>What the work happened: Q3 2022</h4>
                <p>A quaterly personal reflection on my work-life.</p>
            </a>
            <a href="/2022-q2/" class="small-rectangle">
                <h4>What the work happened: Q2 2022</h4>
                <p>A quaterly personal reflection on my work-life.</p>
            </a>
            <a href="/2022-q1/" class="small-rectangle">
                <h4>What the work happened: Q1 2022</h4>
                <p>A quaterly personal reflection on my work-life.</p>
            </a>
            <a href="/2021/" class="small-rectangle">
                <h4>2021: The Courage to Try</h4>
                <p>A very personal reflection on my work in 2021.</p>
            </a>

            <a href="/21/" class="small-rectangle">
                <h4>#21: Output routine</h4>
                <p>Set up your inputs, outputs, and results.</p>
           </a>
           
           <a href="/20/" class="small-rectangle">
                <h4>#20: How I do my monthly review</h4>
                <p>A peek into my productivity system.</p>
           </a>
           
           <a href="/19/" class="small-rectangle">
                <h4>#19: Big messy projects</h4>
                <p>My weapons for wrestling with big projects.</p>
           </a>
           
           <a href="/18/" class="small-rectangle">
                <h4>#18: Rage</h4>
                <p>The Flower Thrower.</p>
           </a>
           
           <a href="/17/" class="small-rectangle">
                <h4>#17: Killing my Youtube habit</h4>
                <p>Ending the cycle of procrastination.</p>
           </a>
           
           <a href="/16/" class="small-rectangle">
                <h4>#16: When introvert goes super social</h4>
                <p>I am 9/10 introvert.</p>
           </a>
           
           <a href="/15/" class="small-rectangle">
                <h4>#15: How to write books as a designer</h4>
                <p>Approaching books like products.</p>
           </a>
           
           <a href="/14/" class="small-rectangle">
                <h4>#14: Find work you enjoy</h4>
                <p>Useful books, and the courage to create.</p>
           </a>
           
           <a href="/13/" class="small-rectangle">
                <h4>#13: New habits</h4>
                <p>The Mom test, and being useful.</p>
           </a>
           
           <a href="/12/" class="small-rectangle">
                <h4>#12: Bad weeks</h4>
                <p>Systems, and the power of being lost.</p>
           </a>
           
           <a href="/11/" class="small-rectangle">
                <h4>#11: Rational artists</h4>
                <p>Money, and articles as prototypes.</p>
           </a>
           
           <a href="/10/" class="small-rectangle">
                <h4>#10: Work on the right thing</h4>
                <p>Find freedom and enjoy life.</p>
           </a>
           
           <a href="/9/" class="small-rectangle">
                <h4>#9: Build a profitable side project</h4>
                <p>Ignoring Twitter and daily notes.</p>
           </a>
           
           <a href="/8/" class="small-rectangle">
                <h4>#8: Bleeding money</h4>
                <p>Weekly emails and becoming a solopreneur.</p>
           </a>
           
           <a href="/jul21/" class="small-rectangle">
                <h4>What the work happened #7</h4>
                <p>Design your work and the Twitter game.</p>
           </a>
           
           <a href="/jun21/" class="small-rectangle">
                <h4>What the work happened #6</h4>
                <p>My made-up job and building a network.</p>
           </a>
           
           <a href="/may21/" class="small-rectangle">
                <h4>What the work happened #5</h4>
                <p>Better systems and The Van incident.</p>
           </a>
           
           <a href="/apr21/" class="small-rectangle">
                <h4>What the work happened #4</h4>
                <p>A very personal reflection on my work in April 2021.</p>
           </a>
           
           <a href="/mar21/" class="small-rectangle">
                <h4>What the work happened #3</h4>
                <p>A very personal reflection on my work in March 2021.</p>
           </a>
           
           <a href="/feb21/" class="small-rectangle">
                <h4>What the work happened #2</h4>
                <p>A very personal reflection on my work in February 2021.</p>
           </a>
           
           <a href="/jan21/" class="small-rectangle">
                <h4>What the work happened #1</h4>
                <p>A very personal reflection on my work in January 2021.</p>
           </a>
           
           <a href="/2020/" class="small-rectangle">
                <h4>2020: My ballad for bad work</h4>
                <p>An unpolished look at 2020, my first year of writing.</p>
            </a>

        </div>
        
    </div>
</div>