
        <div class="column" id="column1">
			<div class="headline-container">
				<a href="{{ .Site.BaseURL }}"><h1 class="name">{{ .Site.Title }}</h1></a>
				<p>Co-founder of <a href="https://supercreators.school/">SuperCreators</a>.</p>
				<p>I write about building an online school, designing learning experiences, and the future of education.</p>
				<p>I'm a <a href="/fsf/">generalist</a>, <a href="/#/">shaper</a>, <a href="/16/">introvert</a> and <a href="/#/">gamer</a>. Optimizing to be <a href="/max-useful/">useful</a>. </p>
				<img src="/images/stickman.png" alt="stickman sitting at a desk">
			</div>
		
			{{ partial "newsletter.html" . }}

		</div>