
        <div class="column" id="column1">
			<div class="headline-container">
				<img src="/images/stickman.png" alt="stickman sitting at a desk">
				<a href="{{ .Site.BaseURL }}"><h1 class="name">{{ .Site.Title }}</h1></a>
				<p>I'm a <b>game designer</b> and <b>teacher</b>, exploring ways of using games to make education better.</p>
				<p>My <a href="/now/">current focus</a> is designing games that improve people's capability to solve complex problems together. I experiment in my classrooms and document my learning here and on <a href="https://www.youtube.com/@ondra_games">Youtube</a>.</p>
				<p>I'm a <a href="/fsf/">generalist</a>, <a href="/16/">introvert</a> and gamer. Trying to be <a href="/max-useful/">useful</a>.</p>
			</div>
		
			{{ partial "newsletter.html" . }}
		</div>